* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow:hidden;
    background-color: #050505;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    position: relative;
    z-index: 10;
    text-align: center;
    max-width:600px;
    padding: 2rem;
}

h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    background: linear-gradient(to right, #fff, #d8b3b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.1);

}





.gradient-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow-y:auto;
    overflow-x:hidden;
}

.gradient-sphere {
    position: absolute;
    border-radius: 50%;
    filter: blur(125px);
}


.sphere-1 {
    width: 40vw;
    height: 40vw;
    background: linear-gradient(40deg, rgba(243, 60, 152, 0.5));
    top: -10%;
    left: -10%;
    animation: float-1 15s ease-in-out infinite alternate;
}

.sphere-2 {
    width: 40vw;
    height: 40vw;
    background: linear-gradient(240deg, rgba(124, 140, 231, 0.5));
    bottom: -20%;
    right: -10%;
    animation: float-1 18s ease-in-out infinite alternate;
}

.sphere-3 {
    width: 40vw;
    height: 40vw;
    background: linear-gradient(120deg, rgba(131, 73, 240, 0.5), rgba(105, 18, 245, 0.3));
    bottom: -100%;
    left: -5%;
    animation: float-1 18s ease-in-out infinite alternate;
}